<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="/css/libs/angular-material.css">
    <script src="/js/libs/angular.js"></script>
    <script src="/js/libs/angular-animate.js"></script>
    <script src="/js/libs/angular-aria.js"></script>
    <script src="/js/libs/angular-messages.js"></script>
    <script src="/js/libs/angular-material.js"></script>
    <script src="/js/myController.js"></script>
</head>

<body ng-app="myModule" ng-controller="myController" layout="column" ng-cloak="">
    <section layout="row" flex="">
        <md-content flex="" layout-padding="">

            <div layout="column" layout-align="top center">
                <div>
                    <p id="optionsDisplay"></p>
                    <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
                        Open menu
                    </md-button>
                </div>
            </div>
            <div flex=""></div>

        </md-content>

        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Menu</h1>
            </md-toolbar>
            <md-content ng-controller="RightController" layout-padding="">
                <md-button ng-repeat="option in options" ng-click="setParaElement(option)" class="md-primary">
                    {{ option }}
                </md-button>
                <md-button ng-click="close()" class="md-primary">
                    Close Menu
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</body>

</html>