<!DOCTYPE html>
<html>

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
	<meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/libs/angular-material.css">
    <!--<link rel="stylesheet" type="text/css" href="css/myStyle.css">-->
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/angular-animate.js"></script>
    <script src="js/libs/angular-aria.js"></script>
    <script src="js/libs/angular-messages.js"></script>
    <script src="js/libs/angular-material.js"></script>
    <script src="js/myController.js"></script>

</head>

<body ng-app="myModule" ng-controller="myController" layout="column" ng-cloak="" md-swipe-right="openLeft()" md-swipe-left="closeLeft()">
    <section layout="row" >
        <md-content flex="" layout-padding="">

            <div layout="column" layout-align="top center">
                <div>
                    <p id="optionsDisplay" class="para"></p>
                    <md-button ng-click="toggleLeft()" ng-hide="isOpenLeft()" class="md-primary button-main">
                        Open menu
                    </md-button>
                </div>
            </div>
        </md-content>

        <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left">

            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools navbar-toolbar-header">Menu</h1>
            </md-toolbar>
            <md-content ng-controller="LeftController" flex="" layout-padding="">
                <md-button ng-repeat="option in options" ng-click="setParaElement(option)" class="md-primary navbar-button">
                    {{ option }}
                </md-button>
                <md-button ng-click="close()" class="md-primary navbar-button">
                    Close Menu
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</body>

</html>